* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: aquamarine;
}

.imgmain {
    width: 500px;
    height: 500px;
    border: 5px dashed red;
    border-radius: 50%;

}

h1,
h2,
h3,
h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: magenta;
    text-align: center;
}

nav {
    font-size: 26px;
}

ul {
    color: blue;
}

ol {
    color: green;
}

ul,
ol {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 0%;
}

.introduction,
.conclusion {
    font-size: 15px;
    margin-left: 2%;
    margin-right: 2%;
}

.most_importnat_info {
    font-style: italic;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;

}


.grid-container {
    display: inline-grid;
    column-gap: 50px;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(200px, auto);
}

.one {
    /* grid-column: 1 / 3;
    grid-row: 1; */
    background-color: blueviolet;
}

.two {
    /* grid-column: 2 / 4;
    grid-row: 1 / 3; */
    background-color: rgba(141, 99, 121, 0.36)
}

.three {
    /* grid-column: 1 / 3;
    grid-row: 1; */
    background-color: blueviolet;
}

.four {
    /* grid-column: 2 / 4;
    grid-row: 1 / 3; */
    background-color: rgba(141, 99, 121, 0.36)
    
}

.five {
    /* grid-column: 1 / 3;
    grid-row: 1; */
    background-color: blueviolet;
}

.six {
    /* grid-column: 2 / 4;
    grid-row: 1 / 3; */
    background-color: rgba(141, 99, 121, 0.36)
}



.nav-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}